<h1>Listing complaints</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Desc</th>
    <th>User</th>
    <th>Target</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complaints.each do |complaint| %>
  <tr>
    <td><%= complaint.type_id %></td>
    <td><%= complaint.desc %></td>
    <td><%= complaint.user %></td>
    <td><%= complaint.target %></td>
    <td><%= link_to t('labels.show'), [@complaintable,complaint] %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to t('labels.new'), new_complaint_path %>
