<%= form_for(@msg) do |f| %>
  <% if @msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@msg.errors.count, "error") %> prohibited this msg from being saved:</h2>

      <ul>
      <% @msg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :is_read %><br />
    <%= f.check_box :is_read %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
