<% content_for :head do %>
<%= javascript_include_tag "easyslider" %>
<%= stylesheet_link_tag    "easyslide" %>
<% end -%>
<div class="tabs"><%#= render "categories/tabs" %></div>

<div class="mt">
  <div class="l flashAD">
    <div id="slider">
      <%= render 'flashes/flashes' %>
    </div>
  </div>
  <div class="l articles"><h3>文章</h3><%= render 'articles/articles_li' %></div>
</div>

<div class="mt">
  <%= render 'section',:things => @cheapest,:title=> "最低价格",:section_path => prices_path %>
  <%= render 'section',:things => @recent_prices,:title=> "最新价格",:section_path => prices_path %>
  <%= render 'section',:things => @recent_goods,:title=> "最新产品",:section_path => goods_path %>
</div>

<div class="mt">
  <%#= render 'section',:things => @focus,:title=> "最多关注",:section_path => goods_path %>
  <div class="l in_l"> 
    <h3>最多关注</h3> 
    <ul>
    <%= render 'focus/li'  %>
    </ul>
  </div>
  <%= render 'section',:things => @good_tags,:title=> "商品Tags",:section_path => tags_goods_path,:link_name => 'name',:link_path => 'tag_good_path' %>
<div class="l in_l"><h3>积分排行榜</h3>
  <ul>
      <%= render 'integrals/li' %>
  </ul>
</div>
    <!--  <div class="l in_r"><h3>最新会员</h3><%= render :partial => 'user_li' %></div> -->
</div>
<!--<div class="mt">
  <div class="l in_l">
    <h3>最新图片</h3>
    <%#= render 'uploads/li' %>
  </div>
</div> -->
