<% cache "index/#{@cache_id}" do %>
  <div class="mt">
    <div class="l flashAD">
      <div id="slider">
        <% @flashes = Flash.recent %>
        <%= render 'flashes/flashes' %>
      </div>
    </div>
    <div class="articles">
      <% @articles = Article.recent %>
      <div class="section" style="width:25%;"><h3>文章</h3><%= render 'articles/articles_li' %></div>
    </div>
  </div>

  <div class="mt">
    <%= render 'section',:plus => {:things => Price.cheapest.limit(10),:title=> "最低价格",:section_path => cheapest_prices_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Price.recent.limit(10),:title=> "最新价格",:section_path => prices_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Price.groupbuy.limit(10),:title=> "最新团购",:section_path => groupbuy_prices_path,:plusclass => 'home_section'} %>
  </div>
  <div class="mt">
  <%= render 'liner',:plus => {:things => Price.just_started.limit(6),:title=> "刚刚开始",:section_path => just_started_prices_path} %>
  </div>
  <div class="mt">
    <%= render 'section',:plus => {:things => Price.costs.limit(10),:title=> "最新消费记录",:section_path => costs_prices_path,:plusclass => 'home_section'} %>
    <%#= render 'section',:plus => {:things => @recent_local,:title=> "附近消费",:section_path => local_prices_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Good.recent.limit(10),:title=> "最新产品",:section_path => goods_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Good.tag_counts.order('count desc').limit(10),:title=> "商品Tags",:section_path => tags_goods_path,:link_name => 'name',:link_path => 'tag_good_path',:plusclass => 'home_section'} %>
  </div>
  <div class="mt">
  <%= render 'liner',:plus => {:things => Price.nearly_finish.limit(6),:title=> "即将结束",:section_path => nearly_finish_prices_path} %>
  </div>
  <div class="mt">
    <%= render 'section',:plus => {:things => Focus.most,:title=> "最多关注",:plusclass => 'home_section',:plusable=>'focusable'} %>
    <div class="section"><h3>经验排行榜</h3>
      <ul>
        <% Integral.recent.each do |exp| %>
          <li><%=  exp.user %>  (<%=exp.points.to_i%>) </li>
        <% end %>
      </ul>
    </div>
    <!--
    <div class="l section">
      <h3>最新图片</h3>
      <%#= render 'uploads/li' %>
    </div>
    -->
  </div>
  <script>
    //  $(document).ready(function(){
      $("#slider").easySlider({
        auto: true,
        numeric: true,
        continuous: true
      });
      //  });                
  </script>
<% end %>
