<% cache_id = Time.now.strftime Time.now.strftime "%D-%H" %>
<div class="mt">
  <div class="l flashAD">
    <div id="slider">
      <% cache "index_flashes_#{cache_id}" do %>
        <% @flashes = Flash.recent %>
        <%= render 'flashes/flashes' %>
      <% end %>
    </div>
  </div>
  <div class="articles">
    <% cache "index_articles_#{cache_id}" do %>
      <% @articles = Article.recent %>
      <div class="section" style="width:25%;"><h3>文章</h3><%= render 'articles/articles_li' %></div>
    <% end %>
  </div>
</div>

<div class="mt">
  <% cache "index_prices1_#{cache_id}" do %>
    <%= render 'section',:plus => {:things => Price.cheapest.group(:title).limit(10),:title=> "最低价格",:section_path => cheapest_prices_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Price.recent.group(:title).limit(10),:title=> "最新价格",:section_path => prices_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Price.groupbuy.group(:title).limit(10),:title=> "最新团购",:section_path => groupbuy_prices_path,:plusclass => 'home_section'} %>
  <% end %>
</div>

<div class="mt">
  <% cache "index_prices2_#{cache_id}" do %>
    <%= render 'section',:plus => {:things => Price.costs.limit(10),:title=> "最新消费记录",:section_path => costs_prices_path,:plusclass => 'home_section'} %>
  <% end %>
  <%#= render 'section',:plus => {:things => @recent_local,:title=> "附近消费",:section_path => local_prices_path,:plusclass => 'home_section'} %>
  <% cache "index_goods_#{cache_id}" do %>
    <%= render 'section',:plus => {:things => Good.recent.limit(10),:title=> "最新产品",:section_path => goods_path,:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Good.tag_counts.order('count desc').limit(10),:title=> "商品Tags",:section_path => tags_goods_path,:link_name => 'name',:link_path => 'tag_good_path',:plusclass => 'home_section'} %>
  <% end %>
</div>
<div class="mt">
  <% cache "index_focus_#{cache_id}" do %>
    <%= render 'section',:plus => {:things => Focus.most,:title=> "最多关注",:plusclass => 'home_section',:plusable=>'focusable'} %>
  <% end %>
  <div class="section"><h3>经验排行榜</h3>
    <ul>
      <% cache "index_exps_#{cache_id}" do %>
        <% Integral.recent.each do |exp| %>
          <li><%=  exp.user %>  (<%=exp.points.to_i%>) </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <!--
  <div class="l section">
    <h3>最新图片</h3>
    <%#= render 'uploads/li' %>
  </div>
  -->
</div>
<script>
  //  $(document).ready(function(){
    $("#slider").easySlider({
      auto: true,
      numeric: true,
      continuous: true
    });
    //  });                
</script>
