<%= form_for(@outlink) do |f| %>
  <% if @outlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outlink.errors.count, "error") %> prohibited this outlink from being saved:</h2>

      <ul>
      <% @outlink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :verified %><br />
    <%= f.check_box :verified %>
  </div>
  <div class="field">
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
