<% @price ||= Price.new %>
<%= form_for [@good,@price]  do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :good do |gf| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :good_name %>
    </div>
  <% end if @able.blank? %>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <% if @price.type_id != '记账' %>
  <div class="field">
    <%= f.label :type_id,'' %><br />
    <%= f.select :type_id,Price.selects %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>  
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>  
  <div class="field">
    <%= f.label :amount,"商品数量(不填为未知)" %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
