<% @price ||= Price.new %>
<% @price.outlinks.new %>
<%= form_for @price  do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.select :type_id,Price.selects %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>  
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>  
  <div class="field">
    <%= f.label :amount,"商品数量(不填为未知)" %><br />
    <%= f.text_field :amount %>
  </div>
  <%= f.fields_for :outlinks,:outlinks do |builder| %>
    <%= render 'prices/outlink_fields',:f => builder %>
  <% end -%>
  <p><%#= link_to_add_fields "Add Question", f, :questions %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
