商品绑定
<%# price.goods %>
<%= form_for price do |f| -%>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :good_name %>
    <%= f.hidden_field :good_id %>
  </div>
  <%= f.fields_for :goods do |gf| %>
<!--    <div class="field">
      <%= gf.label :name %><br />
      <%= gf.text_field :name,:id => 'price_good_name' %>
    </div>
    <div class="field">
      <%= gf.label :desc %><br />
      <%= gf.text_field :desc %>
    </div>
    <div class="field">
      <%= gf.label :tag_list %><br />
      <%= gf.text_field :tag_list %>
    </div>
    <%= gf.fields_for :outlinks do |ff| %>
      <%= ff.label :url %><br />
      <%= ff.text_field :url %>
    <%end %>
    -->
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
