      <div class="price" data-time="<%= price.created_at.to_i %>">  
        <strong><%= link_to '查看详细', [@good,price] %>(<%= price.type_id %>) 价格：<%= price.price %> 剩余：<%= price.amount %></strong>  
        <em>截止日期： <%= price.created_at %></em>
        地址：<%= price.address %>
      </div>  