<h3>商品绑定</h3>
<%= form_for price.price_goods.new,:url => price_goods_path do |f| -%>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :good_name %>
    <%= f.hidden_field :good_id %>
    <%= f.hidden_field :price_id %>
    <button>确定</button>
  </div>
  <div class="fields_for">
  <%= f.fields_for :goods do |gf| %>
<!--    <div class="field">
      <%= gf.label :name %><br />
      <%= gf.text_field :name,:id => 'price_good_name' %>
    </div>
    <div class="field">
      <%= gf.label :desc %><br />
      <%= gf.text_field :desc %>
    </div>
    <div class="field">
      <%= gf.label :tag_list %><br />
      <%= gf.text_field :tag_list %>
    </div>
    <%= gf.fields_for :outlinks do |ff| %>
      <%= ff.label :url %><br />
      <%= ff.text_field :url %>
    <%end %>
    -->
  <% end -%>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
