<% tmp = t("action.#{controller_name}.#{action_name}") %>
<% tmp1 = "最新、最全#{@able}的#{tmp}信息 尽在" %>
<% content_for :title do -%><%= tmp1 %><% end if tmp -%>
<% content_for :desc do -%><%= tmp1 %>神马价。<% end if tmp -%>
<% content_for :keywords do -%>最新<%=tmp%>,<%=tmp%>,<%=tmp%>信息,<% end if tmp -%>
<%= render 'prices_types' %>
<% cache "prices/index/#{params}/#{@cache_id}" do %>
  <%= render @prices %>
<% end %>
<%= raw "<div><h4>暂无数据</h4></div>" if @prices.blank? %>
<div class="c"></div>
<div class="r">
  <%= will_paginate @prices %> 
</div>
<%#= link_to t('labels.new'), new_price_path %>
