<% tmp = t("action.#{controller_name}.#{action_name}") %>
<% if @able %>
  <% tmp1 = "#{@able}的#{tmp}的价格信息" %>
<% else %>
  <% tmp1 = "#{tmp}的价格信息" %>
<% end -%>
<% content_for :title do -%><%= tmp1 %> - <% end if tmp -%>
<% content_for :desc do -%><%= tmp1 %><% end if tmp -%>
<% content_for :keywords do -%><%=tmp%>,<%=tmp%>价格,<%=tmp%>价格信息,<% end if tmp -%>
<%= render 'prices_types' %>
<% cache "p/i/#{params}/#{@cache_id}" do %>
  <%= render @prices %>
<% end %>
<div class="c"></div>
<div class="r">
  <%= will_paginate @prices %> 
</div>
<%#= link_to t('labels.new'), new_price_path %>
