<p>
  <b><%= label :price,:price%>:</b>
  <%= @price.price %>
</p>

<p>
  <b><%= label :price,:type%>:</b>
  <%= @price.type_id %>
</p>

<p>
  <b><%= label :price,:region_id%>:</b>
  <%= @price.region_id %>
</p>

<p>
  <b><%= label :price,:address%>:</b>
  <%= @price.address %>
</p>

<p>
  <b><%= label :price,:amount%>:</b>
  <%= @price.amount %>
</p>

<p>
  <b><%= label :price,:user%>:</b>
  <%= @price.user %>
</p>

<p>
  <b><%= label :price,:finish_at%>:</b>
  <%= @price.finish_at %>
</p>
<h3>附近价格</h3>
<p>
<% @price.near_prices.each do |price| %>
  <%= link_to price.human_price,[@good,price] %><%= price.address %>
<% end %>
</p>
<%= render 'reviews/links' %>
<%= render 'comments/comments' %>


<%= link_to t('labels.edit'), edit_good_price_path(@good,@price) %> |
<%= link_to t('labels.back'), @good %>
