<% content_for :title do -%>[<%= @price.type_id %>]<%= @price %> <% end -%>
<% content_for :desc do -%>[<%= @price.type_id %>]<%= @price %> <% end -%>
<% content_for :keywords do -%><%= @price.type_id %>,<% end -%>
<% @where_name = @price.title %>
<% @where = @price %>
<div>
  <p>
  <b><%= label :price,:title%>:</b>
  <%= @price.title %>
  </p>
  <p>
  <b><%= label :price,:price%>:</b>
  <%= @price.price %>
  </p>

  <p>
  <b><%= label :price,:type%>:</b>
  <%= @price.type_id %>
  </p>

  <p>
  <b><%= label :price,:address%>:</b>
  <%= @price.address %>
  </p>

  <p>
  <b><%= label :price,:amount%>:</b>
  <%= @price.human_amount %>
  </p>

  <p>
  <b><%= label :price,:finish_at%>:</b>
  <%= @price.human_finish_at %>
  </p>
  <p>
  <b><%= label :price,:desc%>:</b>
  <%= @price.desc %>
  </p>
  <%  unless @price.outlinks.blank? %>
    链接：<%= link_to @price.outlinks.first.url,@price.outlinks.first.url%>
  <% end -%>
  <%= image_tag @price.uploads.first.image_file_name unless @price.type_id != "团购价" or @price.uploads.blank?%>
  <%= render 'reviews/links',:reviewable => @price %>
</div>

<% content_for :plus do -%>
  <% if @price.near_prices %>
    <div class="section" style="width:95%;float:none">
      <h3>附近价格</h3>
      <ul>
        <% @price.near_prices.each do |price| %>
          <li><%#= price.type_id != "团购价" ? %>
          <%=link_to(price,price)%><%= price.address %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'comments/comments' %>
<% end -%>

<% content_for :sidebar do -%>
  <div id="goods">
    <% @price.goods.each do |good| %>
      <%= render 'prices/price_good',:good => good %>
      <% end unless @price.goods.blank? %>
    </div>
    <div class="section" id='section_form_price_good'>
      <%= render 'prices/price_good_form',:price => @price %>
    </div>
  <% end -%>
