<div class="product_l">
<p>
  <b><%= label :price,:title%>:</b>
  <%= @price.title %>
</p>
<p>
  <b><%= label :price,:price%>:</b>
  <%= @price.price %>
</p>

<p>
  <b><%= label :price,:type%>:</b>
  <%= @price.type_id %>
</p>

<p>
  <b><%= label :price,:address%>:</b>
  <%= @price.address %>
</p>

<p>
  <b><%= label :price,:amount%>:</b>
  <%= @price.human_amount %>
</p>

<p>
  <b><%= label :price,:finish_at%>:</b>
  <%= @price.human_finish_at %>
</p>
<p>
  <b><%= label :price,:desc%>:</b>
  <%= @price.desc %>
</p>
<%  unless @price.outlinks.blank? %>
链接：<%= link_to @price.outlinks.first.url,@price.outlinks.first.url%>
<% end -%>
<%= image_tag @price.uploads.first.image_file_name unless @price.type_id != "团购价" or @price.uploads.blank?%>
<br /><br />
<% if @price.near_prices %>
<div class="in_l" style="width:95%;float:none">
  <h3>附近价格</h3>
  <ul>
  <% @price.near_prices.each do |price| %>
    <li><%#= price.type_id != "团购价" ? %>
      <%=link_to(price,price)%><%= price.address %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
<%= render 'reviews/links' %>
<%= render 'comments/comments' %>
</div>
<aside>
  <% @price.goods.each do |good| %>
  <div class="in_l" style="width:95%;margin-bottom:10px;">
    <h3><%= good.name %></h3>
    <div>
    <%= render 'goods/good_show',:good => good %>
  </div>
  </div>
  <% end unless @price.goods.blank? %>
  <div class="in_l" style="width:95%">
    <%= render 'prices/price_good_form',:price => @price %>
</div>
</aside>
<div class="c"></div>
<%= link_to t('labels.back'), :back %>
