<% content_for :title do -%>[<%= @price.type_id %>]<%= @price %> <% end -%>
<% content_for :desc do -%>[<%= @price.type_id %>]<%= @price %> <% end -%>
<% content_for :keywords do -%><%= @price.type_id %>,<% end -%>
<% @where_name = @price.name %>
<% @where = @price %>
<% content_for :head do -%>
  <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
  <script>
      lat = <%= @price.latitude %>;
      lon = <%= @price.longitude %>;
      google.maps.event.addDomListener(window, 'load', show_map_init);
  </script>
<% end unless @price.no_locate? -%>

<div id="price">
  <% cache "prices/show/#{@price.id}/#{@cache_id}" do %>
    <p>
    <b><%= label :price,:name %>:</b>
    <%= link_to @price.name,@price.good %>
    </p>
    <p>
    <b><%= label :price,:price%>:</b>
    <%= @price.price %>
    </p>

    <p>
    <b><%= label :price,:type%>:</b>
    <%= @price.type_id %>
    </p>

    <p>
    <b><%= label :price,:address%>:</b>
    <%= @price.address %>
    </p>

    <p>
    <b><%= label :price,:amount%>:</b>
    <%= @price.human_amount %>
    </p>

    <p>
    <b><%= label :price,:finish_at%>:</b>
    <%= @price.human_finish_at %>
    </p>
    <%  unless @price.outlinks.blank? %>
      <p>
      <b>链接：</b>
      <%= link_to @price.outlinks.first.url,@price.outlinks.first.url ,:rel=>"nofollow",:target => '_blank'%>
    <% end -%>

    <% unless @price.type_id != "团购价" or @price.uploads.first.nil? %>
      <img src="<%=@price.uploads.first.image_file_name%>" alt="<%= @price.name %>" />
    <% end %>
  <% end %>

    <br />
    <br />

    <%= link_to '我也这价在这买了一件！',buy_one_price_path(@price) %>
  <%= render 'reviews/links',:reviewable => @price %>
  <div class="c"></div>
</div>

<% content_for :plus do -%>
  <% cache "prices/show/near_prices/#{@price.address[0,15]}/#{@cache_id}" do %>
    <%= render 'near_prices',:near_prices => @price.near_prices.groupbuy.includes(:good).limit(10) %>
    <% end unless @price.no_locate? %>
    <%= render 'comments/comments',:commentable => @price %>
<% end -%>

<% content_for :sidebar do -%>
  <% unless @price.no_locate? %>
    <div class="section">
      <h3>地图显示</h3>
      <div id="google_map" style="height:400px;">
      </div>
    </div>
  <% end %>
<% cache "sidebar_prices_#{@cache_id}" do %>
  <%#= render 'section',:plus => {:things => @price.near_prices.where(:good_id=>@price.good_id).recent,:title=> "本商品周边最新价格",:section_path => prices_path} %>
  <%= render 'section',:plus => {:things => @price.near_prices.where(:good_id=>@price.good_id).cheapest.includes(:good).limit(10),:title=> "本商品周边最低价格"} unless @price.no_locate? %>
  <%= render 'section',:plus => {:things => @price.good.prices.cheapest.includes(:good).limit(10),:title=> "本商品全国最低价格"} if @price.good %>
<% end %>
<% end -%>
