<a href='javascript:' onclick="show_and_hide('#product_detail_<%= good.id %>','.goods_div_<%=good.id%>')">详细</a>
<a href='javascript:' onclick="show_and_hide('#product_images_<%= good.id %>','.goods_div_<%=good.id%>')">图片</a>
<a id="a_attrs" href='javascript:' onclick="get_attrs(<%=good.id%>);show_and_hide('#product_attrs_<%= good.id %>','.goods_div_<%=good.id%>')">属性</a>
<a href='javascript:' onclick="show_and_hide('#product_links_<%= good.id %>','.goods_div_<%=good.id%>')">外链</a>

<div class="goods_div_<%=good.id%>" id="product_detail_<%= good.id -%>">
<p>
  <b>名称:</b>
  <%= good.name %>
</p>

<p>
  <b>描述:</b>
  <%= good.desc %>
</p>

<p>
  <b>标签:</b>
  <%= good.tag_list %>
</p>
<% if !good.uploads.blank? %>
<%= image_tag good.uploads.first.image.url  %>
<% end  %>
</div>

<% @commentable = good %>
<div class="goods_div_<%=good.id%> h" id="product_images_<%= good.id -%>">
<%= render  'uploads/uploads',:commentable  => good,:uploads => good.uploads %>
</div>

<div class="goods_div_<%=good.id%> h" id="product_attrs_<%= good.id -%>">
  <div id='attrs'>
  </div>
  <%= link_to '新建',new_good_attr_path(good),:remote => true %>
</div>

<div class="product_links goods_div_<%=good.id%> h" id="product_links_<%= good.id -%>">
  <ul id='links'%>
    <%= render good.outlinks %>
  </ul>
  <%= link_to '新建',new_good_outlink_path(good),:remote => true %>
</div>

  <p>
    <%= button_to '关注',good_focus_path(good),:remote => true %>
    <% @reviewable = good %>
    <%= render 'reviews/links',:locals => {:reviewable => good} %>
  </p>

