<div class="product_l"
<a href='javascript:' onclick='show_and_hide(".product_detail",".product_images");'>详细</a>
<a href='javascript:' onclick='show_and_hide(".product_images",".product_detail");'>图片</a>
<div class="product_detail">
<p>
  <b>名称:</b>
  <%= @good.name %>
</p>

<p>
  <b>描述:</b>
  <%= @good.desc %>
</p>

<p>
  <b>提交者:</b>
  <%= @good.user %>
</p>

<p>
  <b>分类:</b>
  <%= @good.category %>
</p>
</div>
<div class="product_images">
  <%= render  'uploads/uploads',:locals => {:commentable  => @good} %>
</div>

<p>
<%= button_to '关注',good_focus_path(@good) %>
</p>
<%= render 'comments/comments' %>
  </div>
  <div class="product_r">
<div id="prices">
<%= render 'prices/prices' %>
</div>




<%= link_to t('labels.back'), goods_path %>
    </div>
<div class="c"></div>

