<% tmp1 = "最新、最全的#{"《#{@name}》附近的" if @name}价格信息" %>
<% content_for :title do -%><%= tmp1 %> - <% end if tmp1 -%>
<% content_for :desc do -%><%= tmp1 %>。<% end if tmp1 -%>
<% @counts = 0 %>
<% cache "place/#{controller_name}/#{@name}/#{@cache_id}" do %>
  <div class="mt">
    <%= render 'liner',:plus => {:things => Price.just_started.near(@value,20).with_uploads.limit(6),:title=> "刚刚开始",:section_path => eval("just_started_#{controller_name.singularize}_prices_path(@name)")} %>
  </div>
  <div class="mt">
    <%= render 'section',:plus => {:things => Price.group(:title).recent.near(@value,20).limit(10),:title=> "《#{@name}》最新价格",:section_path => eval("#{controller_name.singularize}_prices_path(@name)"),:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Price.group(:title).cheapest.near(@value,20).limit(10),:title=> "《#{@name}》最低价格",:section_path => eval("cheapest_#{controller_name.singularize}_prices_path(@name)"),:plusclass => 'home_section'} %>
    <%= render 'section',:plus => {:things => Price.groupbuy.near(@value,20).limit(10),:title=> "《#{@name}》最新团购",:section_path => eval("groupbuy_#{controller_name.singularize}_prices_path(@name)"),:plusclass => 'home_section'} %>
  </div>
  <div class="mt">
    <%= render 'liner',:plus => {:things => Price.nearly_finish.near(@value,20).with_uploads.limit(6),:title=> "即将结束",:section_path => eval("nearly_finish_#{controller_name.singularize}_prices_path(@name)")} %>
  </div>
  <div class="mt">
    <%= render 'section',:plus => {:things => Price.costs.near(@value,20).limit(10),:title=> "《#{@name}》最新消费记录",:section_path => eval("costs_#{controller_name.singularize}_prices_path(@name)"),:plusclass => 'home_section'} %>
  </div>
<% end %>
