<div class="pin">
  <div class="good" style="height:auto;">
    <% if upload = good.uploads.first %>
      <div class="img">
        <%= link_to good,:target => '_blank' do %>
          <% if upload.image_file_name.scan(/http/).blank? %>
            <img src='<%=upload.image.url %>' alt='<%= good.name %>' />
          <% else %>
            <img src='<%=upload.image_file_name %>' alt='<%= good.name %>'/>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="title">
      <h4><%= link_to good.name,good,:target => '_blank' %></h4>
    </div>
  </div>
  <div class="prices">
    <% prices.each do |price| %>
      <div class="per_price">
        <div class="type_id">[<%= price.type_id %>]</div><div class="price"> <%= link_to price.price,price,:target => '_blank' %></div>
      </div>
    <% end %>
    <div class="more_price">
      <%= link_to "总共#{good.prices.count}条价格信息，点击查看。",good_prices_path(good),:target => '_blank' if good.prices.count > 5 %>
    </div>
  </div>
</div>
