<div class='head_left'>
  <ul>
    <li><a href='/' alt='神马价'><div>神马价</div></a></li>
    <li><%= link_to cheapest_prices_path do %><div>最低</div><% end %></li>
    <li><%= link_to groupbuy_prices_path do %><div>团购</div><% end %></li>
    <li><%= link_to costs_prices_path do %><div>实际消费</div><% end %></li>
    <li><%= link_to '/cities' do %><div>区域价格</div><% end %></li>
    <li>您的位置:
    <%=link_to @geo[:city],city_path(@geo[:city]) if @geo %>
    <%="无法确认" unless @geo%>
    <small><%= link_to '(重新定位)',new_locate_path(:format => :js),:method => :get,:remote => true %></small>
    </li>
    <li style="margin-left:5px;">
    <%= text_field_tag :locate_id %><button onclick="if($('#locate_id').val()!='')window.location.href='/locates/'+$('#locate_id').val();return false;">搜索附近</button>
    </li>
  </ul>
</div>
<div class='head_login'>
  <% if user_signed_in? %>
    <%= render :partial =>'is_login' -%>
  <% else %>
    <%= render :partial =>'login' -%>
  <% end %>
</div>
