<div class="liner <%=plus[:plusclass] if plus[:plusclass]  %>">
  <h3><%=plus[:title] %><% if plus[:section_path]  %><span style='float:right;font-size:12px'><%= link_to "更多",plus[:section_path] %> </span><% end %></h3>
  <ul>
    <% plus[:things].each do |thing| %>
      <li>
      <%= link_to thing,:target => '_blank' do %>
        <% upload =  thing.good.uploads.first %>
        <% if upload  %>
          <% if upload.image_file_name.scan(/http/).blank? %>
            <img src='<%=upload.image.url %>' alt='<%= thing %>' />
          <% else %>
            <img src='<%=upload.image_file_name %>' alt='<%= thing %>'/>
          <% end %>
        <% else %>
          <img src='/images/nopic.gif' alt='nopic' />
        <% end -%>
      <% end -%><br />
      <%= link_to thing.to_s.block(50),thing,:target => '_blank' %>
      </li>
    <% end %>
  </ul>
</div>
