<% unless plus[:things].blank? %>
  <div class="section<%=" #{plus[:plusclass]}" if plus[:plusclass]  %>">
    <h3><%=plus[:title] %><% if plus[:section_path]  %><span style='float:right;font-size:12px'><%= link_to "更多",plus[:section_path] %> </span><% end %></h3>
    <ul>
      <% plus[:things].each do |thing| %>
        <% if plus[:link_name] %>
          <% diy_path =  eval("#{plus[:link_path]}(thing.#{plus[:link_name]})") %>
        <% end %>
        <li>
        <% if diy_path.blank? %>
          <%= link_to thing,thing %>
        <% else %>
          <% if plus[:link_name] %>
          <%= link_to thing.try(plus[:link_name]),diy_path %>
          <% else %>
          <%= link_to thing,diy_path  %>
          <% end -%>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
