<%= render 'before_layout' %>
<article>
<div class="product_l">
  <div class="section">
    <h3>
      <a href='/'>神马价</a>
      <%# cache "bread/#{params.keys.join}" do %>
        <% if @able  %>
          &raquo; <%= link_to @able,@able  %>
        <% end -%>
        <%  if could_bread?  -%>
          &raquo; <%= link_to t("controller.#{controller_name}"),eval("#{controller_name}_path")%>
        <% end -%>
        <% unless ( could_bread? and ['index'].include? action_name) or @where -%>
          &raquo; <%= link_to t("action.#{controller_name}.#{action_name}") %>
        <% end -%>
      <%# end %>
      <% if could_bread? and @where -%>
        &raquo; <%= link_to @where_name,@where  %>
      <% end -%>
    </h3>
    <%= yield %>
    <div class="clearer"></div>
  </div>
  <div class="c"></div>
  <%= yield(:plus) %>
</div>
<aside>
<%= yield(:sidebar) %>
<% cache "sidebar_all_#{@cache_id}" do %>
  <%= render 'section',:plus => {:things => Price.recent.group(:good_id).limit(10),:title=> "最新价格信息",:section_path => prices_path} %>
<% end %>
<% cache "sidebar_prices_youlike_#{@cache_id}" do %>
  <%= render 'section',:plus => {:things => Price.you_like.limit(10),:title=> "猜你喜欢"} %>
<% end if nil%>
</aside>
<div class="c"></div>
</article>
<%= render 'after_layout' %>
