<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for?(:title) ? yield(:title) + "z" : "z" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <%= yield(:head) %>
  </head>
  <body>
	<div id="head"><%= render :partial => 'shared/head' %></div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
  <script>
  if('<%=current_user.to_s%>' != '')
    $(".user_show").show();
  else
    $(".user_hide").show();
  </script>
</html>
