<%= render 'before_layout' %>
<article>
<div>
  <div class="section userhome_left">
    <%=render 'userhome_left' %>
  </div>
  <div class="section userhome_right">
    <h3><%= t("action.userhomes.#{action_name}") %></h3>
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <div class="clearer"></div>
</div>
</article>
<%= render 'after_layout' %>
