<%= form_for @user_task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :task_id %><br />
    <%= f.number_field :task_id %>
  </p>
  <p>
    <%= f.label :accept_at %><br />
    <%= f.datetime_select :accept_at %>
  </p>
  <p>
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at %>
  </p>
  <p>
    <%= f.label :degree %><br />
    <%= f.number_field :degree %>
  </p>
  <p><%= f.submit %></p>
<% end %>
